:root {
    --modal-bg: #ffffff;
    --modal-padding: 10px;
    --modal-border-radius: 14px;
    --modal-button-bg: linear-gradient(335deg, rgb(121, 40, 202), rgb(255, 0, 128));
    --modal-button-color: #ffffff;
    --modal-button-border-radius: 7px;
    --modal-input-bg: #f8f9fa;
    --modal-button-height: 40px;
    --modal-box-shadow: 0 0 var(--modal-padding) rgba(0, 0, 0, 0.1);
    --modal-font-size: 16px;
    --modal-font-size-heading: 20px;
    --modal-text-color: #344767;
    --modal-confirm-color: #28a745;
    --modal-inactive-color: #e8e8e8;
}

.no-select {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.zermos-modal-background {
    left: 266px;
    width: calc(100% - 266px);
    height: 100%;
    position: fixed;
    z-index: 10000;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.zermos-modal-background * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

.zermos-modal-background button, .zermos-modal-background input {
    border: unset;
    background: unset;
    font-size: var(--modal-font-size);
    color: var(--modal-text-color);
    font-weight: 600;
    cursor: pointer;
}

.zermos-modal-container {
    width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--modal-padding) 0;
    box-sizing: border-box;
}

.zermos-modal {
    width: 50%;
    max-height: calc(100vh - 2 * var(--modal-padding));
    position: relative;
    border-radius: var(--modal-border-radius);
    background: var(--modal-bg);
    box-shadow: var(--modal-box-shadow);
    display: flex;
    flex-direction: column;
    z-index: 1000000000000;
    overflow: auto;
    box-sizing: border-box;
    overflow-x: hidden;
}


.zermos-modal > div {
    margin: 0 var(--modal-padding) var(--modal-padding);
    position: relative;
}

.zermos-modal > div:first-child {
    margin-top: var(--modal-padding);
}

.zermos-modal > div:not(.hidden) {
    display: block;
}

.zermos-modal > div.hidden {
    display: none;
}

/* last div element in .zermos-modal that does not have the hidden class */
.zermos-modal:not(.submenu) .zermos-modal > div:last-child:not(.hidden) {
    margin-bottom: 0;
}

.heading h1 {
    font-size: var(--modal-font-size-heading);
    color: var(--modal-text-color);
}

.toggle, .url-section, .toggleInput, .multi-toggle-container > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--modal-padding);
    flex-direction: row-reverse;
    position: relative;
}

.multi-toggle-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: calc(var(--modal-padding)* 4);
    row-gap: var(--modal-padding);
}

.zermos-modal > div.submenu {
    margin-left: 0;
    margin-right: 0;
}

.button button, .doubleButton button, .tripleButton button {
    padding: var(--modal-padding);
    background: var(--modal-button-bg);
    color: var(--modal-button-color);
    border-radius: var(--modal-button-border-radius);
    cursor: pointer;
    width: 100%;
    font-weight: 900;
    height: var(--modal-button-height);
    display: flex;
    align-items: center;
    justify-content: center;
}

.doubleButton, .tripleButton {
    display: flex;
    gap: 20px;
}

.doubleButton div:hover, .tripleButton div:hover, .button:hover {
    opacity: 0.8;
}

.submenu .zermos-modal {
    box-shadow: none;
    border-radius: unset;
    border-left: 0;
    border-right: 0;
    width: 100%;
    position: initial;
    translate: 0 0;
}

.toggleInput {
    display: flex !important;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-content: center;
}

.toggle-switch {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.toggle-container {
    display: flex;
    align-items: center;
}

.toggle-switch + .toggle-label {
    width: calc(2 * var(--modal-button-height));
    height: var(--modal-button-height);
    background: var(--modal-inactive-color);
    border-radius: var(--modal-border-radius);
    position: relative;
    cursor: pointer;
    transition: background 0.3s;
    margin-right: 10px; /* Add space between toggle and text */
    display: inline-block;
}

.toggle-switch.as-checkbox + .toggle-label {
    width: var(--modal-button-height);
    height: var(--modal-button-height);
    border-radius: var(--modal-button-border-radius);
}

.toggle-switch + .toggle-label::before {
    content: "";
    width: calc(var(--modal-button-height) - 2px);
    height: calc(var(--modal-button-height) - 2px);
    background: var(--modal-button-color);
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: left 0.3s;
}

.toggle-switch:checked + .toggle-label {
    background: var(--modal-confirm-color);
}

.toggle-switch:checked + .toggle-label::before {
    left: calc(var(--modal-button-height) + 1px);
}

.toggle-switch.as-checkbox + .toggle-label::before {
    left: 0;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    width: 100%;
    height: 100%;
    top: 0;
}

/* Label text styling */
.toggle-container .toggle-label-text {
    flex: 1; /* Ensure the text takes up remaining space */
    text-align: left; /* Align the text to the left */
}

.textarea-element-input.display {
    max-height: 400px;
    min-height: 100px;
    padding: 0 var(--modal-padding) !important;
    text-align: start;
    max-width: 100%;
    min-width: 100%;
}

.url-field, .dropdown-button, .datepicker-parent, .text-element-input.display,
.textarea-element-input.display, .password-element-input.display {
    flex-grow: 1;
    padding: var(--modal-padding);
    border-radius: var(--modal-button-border-radius);
    background: var(--modal-input-bg);
    font-size: var(--modal-font-size);
    color: var(--modal-text-color);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    height: var(--modal-button-height);
    line-height: var(--modal-button-height);
    align-items: center;
    width: 100%;
}

.label {
    margin: 0 var(--modal-padding) calc(var(--modal-padding) / 2) !important;
}

.url-field {
}

.button.copy {
    height: var(--modal-button-height);
    padding: 0 var(--modal-padding);
    background: var(--modal-button-bg);
    border-radius: var(--modal-button-border-radius);
    cursor: pointer;
    text-align: center;
    transition: background 0.3s;
    color: var(--modal-button-color);
    line-height: var(--modal-button-height);
}

.separator > div:before {
    content: '';
    position: absolute;
    left: 0;
    border-top: 1px solid #ccc;
    background: #ccc;
    width: 100%;
}

.separator > div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: -5px;
}

.separator p {
    z-index: 100;
    background: var(--modal-bg);
    width: fit-content;
    position: relative;
    padding: 0 var(--modal-padding);
    text-align: center;
    top: 50%;
}

.image img {
    max-width: 100%;
    height: auto;
    border-radius: var(--modal-button-border-radius);
    display: block;
    margin: 0 auto;
}

.datepicker-parent {
    position: relative;
    width: 100%;
    height: calc(1.5 * var(--modal-button-height));
}

.calendar {
    background: var(--modal-bg);
    /* display: none; */
    border-radius: var(--modal-button-border-radius);
    overflow: hidden;
    opacity: 0;
    padding: 0;
    margin-top: 0;
    max-height: 0;
    transition: all 0.25s ease;
    /* max-width: 500px; */
}

.calendar.show {
    max-height: 500px;
    opacity: 1;
    margin-top: 10px;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    padding: var(--modal-padding);
}

.calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: var(--modal-padding);
    padding: var(--modal-padding);
    padding-top: 0;
}

.calendar-body div {
    text-align: center;
    padding: var(--modal-padding);
    cursor: pointer;
    border-radius: var(--modal-button-border-radius);
}

.calendar-body .day {
    background: var(--modal-input-bg);
    color: var(--modal-text-color);
    text-align: center;
    padding: calc(var(--modal-padding) / 4);
    cursor: pointer;
    border-radius: var(--modal-button-border-radius);
}

.calendar-body .selected {
    background: var(--modal-button-bg);
    color: var(--modal-button-color);
}

.next-month, .prev-month, .month-year {
    font-size: var(--modal-font-size-heading);
    font-weight: 900;
    min-width: 40px;
    text-align: center;
}

.dropdown-option::before {
    content: '- ';
}

.dropdown-menu {
    display: block;
    /* position: absolute; */
    z-index: 100000;
    background: var(--modal-input-bg);
    width: 100%;
    padding: 0;
    margin-top: 0;
    border-radius: var(--modal-button-border-radius);
    max-height: 0;
    overflow-y: auto;
    transition: all 0.25s ease;
    opacity: 0;
    /* box-shadow: var(--modal-box-shadow); */
}

.number-input {
    display: flex;
    align-items: center;
    width: 100%;
}

.display {
    flex-grow: 1;
    text-align: center;
    padding: var(--modal-padding);
}

.increment-button, .decrement-button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: #007bff;
    color: var(--modal-text-color);
    font-weight: 900;
    border-radius: var(--modal-button-border-radius);
}

.text-element-input .label, .password-element-input .label, .textarea-element-input .label, .list li {
    display: block;
    font-size: var(--modal-font-size);
    color: var(--modal-text-color);
    margin-bottom: var(--modal-padding);
}

.list li {
    display: list-item;
    margin-bottom: calc(var(--modal-padding) / 2);
    margin-left: calc(var(--modal-padding) * 2);
}

.list li::marker {
    color: var(--modal-text-color);
    margin-right: var(--modal-padding);
    font-size: var(--modal-font-size);
}

.text-element-input .display, .password-element-input .display {
    white-space: nowrap;
    overflow: hidden;
}

.text-element-input .display, .textarea-element-input .display, .password-element-input .display {
    min-height: 20px;
    cursor: text;
    word-break: break-all;
    text-align: start;
    padding: 0 var(--modal-padding);
}

.textarea-element-input .display {
    display: block;
    width: 100%;
    overflow: hidden;
    resize: vertical;
    min-height: 100px;
    max-height: 300px;
    word-break: break-word;
    text-overflow: clip;
    white-space: break-spaces;
}

.eye-icon {
    cursor: pointer;
    position: absolute;
    right: 10px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    top: 50%;
}

.dropdown-button, .datepicker-parent {
    padding-right: calc(var(--modal-padding) * 2);
    width: 100%;
    text-align: start;
    height: calc(1.5 * var(--modal-button-height));
}

.dropdown-button::after, .datepicker-parent::after {
    content: '×';
    position: absolute;
    right: calc(0.2 * var(--modal-button-height));
    width: var(--modal-padding);
    height: var(--modal-font-size-heading);
    font-size: var(--modal-font-size-heading);
    font-weight: 900;
    display: flex;
    top: calc(0.5 * var(--modal-button-height));
    justify-content: center;
    align-items: center;
    rotate: 45deg;
    transition: all 0.25s ease;
}

.dropdown-button.selected::after, .datepicker-parent.selected::after {
    rotate: 0deg;
}

.dropdown-menu.show {
    max-height: 100px;
    padding: var(--modal-padding);
    opacity: 1;
    margin-top: 10px;
}

/*<div class="sliderInput" id="MTgxLDEwLDg"><div class="slider-container"><input type="range" class="slider-input" min="0" max="50" step="1"><span class="slider-value">0</span></div></div>*/

.slider-container {
    display: flex;
    align-items: center;
    gap: var(--modal-padding);
    width: 100%;
}

.slider-input {
    width: 100%;
    height: 5px;
    background: var(--modal-inactive-color);
    border-radius: var(--modal-button-border-radius);
    cursor: pointer;
}

.slider-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.slider-input::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.slider-track {
    width: 100%;
    height: 5px;
    background: var(--modal-inactive-color);
    border-radius: var(--modal-button-border-radius);
    position: relative;
}

.slider-value {
    font-size: var(--modal-font-size);
    color: var(--modal-text-color);
}

.color-display {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.color-palette {
    display: none;
    position: absolute;
    background: #fff;
    padding: var(--modal-padding);
    z-index: 1000;
}

.hex-input {
    width: 70px;
    margin-bottom: var(--modal-padding);
    padding: var(--modal-padding);
}

.rgb-input {
    width: 50px;
    margin-right: var(--modal-padding);
    padding: var(--modal-padding);
}

.color-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    margin-top: var(--modal-padding);
}

.color-selector {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    left: 70px;
    top: 70px;
}

.ratingInput label {
    display: block;
    font-size: var(--modal-font-size);
    color: var(--modal-text-color);
    margin-bottom: var(--modal-padding);
}

.rating-container {
    display: flex;
    gap: 5px;
    justify-content: space-around;
}

.rating-container span {
    font-size: calc(2 * var(--modal-font-size-heading));
    cursor: pointer;
    color: var(--modal-text-color);
    transition: color 0.3s;
    font-weight: 900;
}

.rating-container span:hover,
.rating-container span:hover ~ span,
.rating-container span.active {
    color: var(--modal-text-color);
}

.code pre {
    background: var(--modal-bg);
    padding: var(--modal-padding);
    border-radius: var(--modal-border-radius);
    overflow-y: auto;
}

@media only screen and (max-width: 1000px) {
    .zermos-modal {
        width: 80%;
    }
}

@media only screen and (max-width: 40cm) {
    .zermos-modal-background {
        left: calc(180px + var(--modal-padding));
        width: calc(100% - (180px + var(--modal-padding)));
    }
}

@media only screen and (max-width: 1200px) {

    .zermos-modal-background {
        left: 0;
        width: calc(100% - 64px);
    }

    .offline .zermos-modal-background {
        height: calc(100% - 15px);
        top: 0;
    }


    .left .zermos-modal-background {
        right: 0 !important;
        left: unset !important;
    }
}