body {
    font-family: Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: unset;
}

h1, h2, h3, h4, h5, h6, p {
    color: #666;
}

p {
    margin: 0;
    font-size: 16px;
}

.zermos-modal {
    width: 80%;
    position: absolute;
    left: 10%;
    top: 50px;
    /* padding: 20px; */
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.zermos-modal > div {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
}

.zermos-modal > div:first-child {
    margin-top: 20px;
}

.heading h1 {
    font-size: 24px;
    color: #333;
}

.toggle {
}

.zermos-modal > div.submenu {
    margin-left: 0;
    margin-right: 0;
}

.button div {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: calc(100% - 40px);
}

.button div:hover {
    background-color: #0056b3;
}

.doubleButton, .tripleButton {
    display: flex;
    gap: 20px;
}

.doubleButton div, .tripleButton div {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: 100%;
}

.doubleButton div:hover, .tripleButton div:hover {
    background-color: #0056b3;
}

.submenu .zermos-modal {
    box-shadow: none;
    border-radius: unset;
    border-left: 0;
    border-right: 0;
    width: 100%;
    position: initial;
}

.toggle-switch {
    width: 60px;
    height: 30px;
    background-color: #ccc;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toggle-switch .switch {
    width: 28px;
    height: 28px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: left 0.3s;
}

.toggle-switch.active {
    background-color: #4caf50;
}

.toggle-switch.active .switch {
    left: 31px;
}

.url {
}

.url-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.url-field {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
    color: #333;
    margin-right: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.button.copy {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
}

.button.copy:hover {
    background-color: #0056b3;
}

.separator > div:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    border-top: 1px solid #ccc;
    background: #ccc;
    width: 100%;
    transform: translateY(-50%);
    display: block;
}

.separator > div {
    position: relative;
    display: flex;
    justify-content: center;
}

.separator p {
    z-index: 100;
    background: #f9f9f9;
    width: fit-content;
    position: relative;
    padding: 0 10px;
    text-align: center;
}

.image img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}

#datepicker {
    position: relative;
    width: 200px;
}
#selected-date {
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}
#calendar {
    position: absolute;
    top: 60px;
    border: 1px solid #ccc;
    background: white;
    display: none;
    z-index: 1000000000;
}
#calendar-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #f0f0f0;
}
#calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    padding: 10px;
}
#calendar-body div {
    text-align: center;
    padding: 5px;
    cursor: pointer;
}
#calendar-body .day {
    background: #e0e0e0;
}
#calendar-body .selected {
    background: #007bff;
    color: white;
}

.dropdown-option::before {
    content: '- ';
}

.dropdown-menu {
    display: block;
    position: absolute;
    z-index: 100000;
    background: white;
    width: calc(100% - 40px);
    padding: 20px;
    border: 1px solid rgb(204, 204, 204);
    margin-top: 20px;
    border-radius: 5px;
}

.number-input {
    display: flex;
    align-items: center;
    width: 100%;
}
.display {
    flex-grow: 1;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
}
.increment-button, .decrement-button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #007bff;
    color: white;
    font-weight: 900;
    border-radius: 5px;
}

.text-element-input .label, .password-element-input .label, .textarea-element-input .label {
    display: block;
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

.text-element-input .display, .password-element-input .display {
    white-space: nowrap;
    overflow: hidden;
}

.text-element-input .display, .textarea-element-input .display, .password-element-input .display {
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
    color: #333;
    min-height: 20px;
    cursor: text;
    word-break: break-word;
    text-align: start;
}

.textarea-element-input .display {
    min-height: 100px;
}

.eye-icon {
    cursor: pointer;
    position: absolute;
    right: 10px;
    height: 20px;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}